<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='layui/css/layui.css')}}"/>
<div class="layuimini-main">

	<table>

		<!--<table id="demo" lay-filter="test"></table>-->

		<script src="{{url_for('static',filename='layui/layui.js')}}"></script>
		
		<script type="text/html" id="toolbarDemo">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
			</div>
		</script>

		<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

		<script type="text/html" id="currentTableBar">
			<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
		</script>
		<script>
			layui.use(['table', 'form', 'element'], function() {
				var table = layui.table,
					$ = layui.jquery,
					form = layui.form;

				//第一个实例
				table.render({
					elem: '#currentTableId',
					height: 480,
					url: '{{url_for('home.get_article')}}',
					page: true ,//开启分页
					toolbar:'#toolbarDemo',
					cols: [
						[ //表头
						{
									type: "checkbox",
									width: 50,
									fixed: 'left'
								},
							{
								field: 'id',
								title: 'ID',
								width: 80,
								sort: true,

							}, {
								field: 'title',
								title: '标题',
								width: 80
							}, {
								field: 'content',
								title: '内容',
								width: 80
							}, {
								field: 'img',
								title: '图片',
								width: 80,
								templet:function(d){
                return '<div οnclick="show_img(this)" ><img src="'+d.img+'" alt="" width="50px" height="50px"></a></div>';
           }
							}, {
								field: 'keyword',
								title: '关键词',
								width: 177
							}, {
								field: 'spotid',
								title: '景点名',
								width: 100,
								sort: true
							}, {
								field: 'userid',
								title: '用户名',
								width: 100,
								sort: true
							}, {
								field: 'good',
								title: '点赞数',
								width: 80
							}, {
								field: 'weather',
								title: '天气',
								width: 80
							}, {
								field: 'time',
								title: '添加时间',
								width: 135,
								sort: true
							}, {
								field: 'postpoint',
								title: '姿势点',
								width: 135
							}, {
								field: 'scaling',
								title: '缩放比',
								width: 80
							}, {
								field: 'poseimg',
								title: '姿势图',
								width: 80,
								templet:function(d){
                return '<div οnclick="show_img(this)" ><img src="'+d.poseimg+'" alt="" width="50px" height="50px"></a></div>';
           }
							}, 
							
						]
					]
				});

				
				table.on('toolbar(currentTableFilter)', function(obj) {
					var data = obj.data;
					console.log("test");
					console.log(obj);
					if(obj.event === 'delete') {
						layer.confirm('真的删除行么', function(index) {
							var checkStatus = table.checkStatus('currentTableId'),
								data = checkStatus.data;
							data = {"data":data};
							$.post("{{url_for('admin.article_delete')}}", JSON.stringify(data), function(res) {
								
								if(res.code == 1) {
									layer.msg(res.info, {
										time: 2000
									});
									table.reload('currentTableId', {
										page: {
											curr: 1
										},
										where: {
											key: {
												page: 1,
												limit: 10
											}
										}
									}, 'data');
								} else {
									layer.msg(res.info, {
										time: 2000
									});
								}
							}, 'json');
							layer.close(index);
						});
					}
				})

			});
		</script>
	</table>
</div>