<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='layui/css/layui.css')}}"/>
<div class="layuimini-main">
	<form class="layui-form" id="test" style="display:none">
  <div class="layui-form-item">
    <label class="layui-form-label">ID</label>
    <div class="layui-input-block">
      <input type="text" name="id" required  lay-verify="required" placeholder="请输入ID" autocomplete="on" class="layui-input" id="id" style="width:300px">
    </div>
    </div>

  <div class="layui-form-item">
    <label class="layui-form-label">景区</label>
    <div class="layui-input-block">
      <input type="text" name="name" required  lay-verify="required" placeholder="景区" autocomplete="on" class="layui-input" id="name" style="width:300px">
    </div>
  </div>
    </div>
</form>


	<table>

		<script src="{{url_for('static',filename='layui/layui.js')}}"></script>
		
		<script type="text/html" id="toolbarDemo">
			<div class="layui-btn-container">
				<button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
				<button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button>
			</div>
		</script>

		<table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

		<script type="text/html" id="currentTableBar">
			<a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
		</script>
		<script>
			layui.use(['table', 'form', 'element'], function() {
				var table = layui.table,
					$ = layui.jquery,
					miniPage = layui.miniPage,
					form = layui.form;

				//第一个实例
				table.render({
					elem: '#currentTableId',
					height: 480,
					url: '{{url_for('home.get_spotsite')}}' //数据接口
					,
					page: true //开启分页
						,
					toolbar:'#toolbarDemo',
					cols: [
						[ //表头
							{
									type: "checkbox",
									width: 50,
									fixed: 'left'
							},{
								field: 'id',
								title: 'ID',
								width: 150,
								sort: true,
								fixed: 'left'
							}, {
								field: 'name',
								title: '景点',
								width: 150
							}, 
						]
					]
				});
				table.on('toolbar(currentTableFilter)', function(obj) {
					var data = obj.data;
					console.log("test");
					console.log(obj);
					if(obj.event === 'delete') {
						layer.confirm('真的删除行么', function(index) {
							var checkStatus = table.checkStatus('currentTableId'),
								data = checkStatus.data;
							data = {"data":data}
							$.post("{{url_for('admin.apotsite_del')}}", JSON.stringify(data), function(res) {
								console.log(JSON.stringify(data));
								if(res.code == 1) {
									layer.msg(res.info, {
										time: 2000
									});
									table.reload('currentTableId', {
										page: {
											curr: 1
										},
										where: {
											key: {
												page: 1,
												limit: 10
											}
										}
									}, 'data');
								} else {
									layer.msg(res.info, {
										time: 2000
									});
								}
							}, 'json');
							layer.close(index);
						});
					}else if(obj.event === 'add'){
						layer.open({
							 type:1,
							 area:['500px','300px'],
							  title: 'tianxie'
							  ,content: $("#test"),
							  shade: 0,
							  btn: ['提交', '取消']
							  ,btn1: function(index, layero){
							  var id=$("#id").val(),
							      name=$("#name").val();
							  var data = {"id":id,"name":name}
							  console.log(data);
							  $.post("{{url_for('admin.apotsite_add')}}", data, function(res) {
								
								if(res.code == 1) {
									layer.msg(res.info, {
										time: 2000
									});
									layer.closeAll();
									table.reload('currentTableId', {
										page: {
											curr: 1
										},
										where: {
											key: {
												page: 1,
												limit: 10
											}
										}
									}, 'data');
								} else {
									layer.msg(res.info, {
										time: 2000
									});
								}
							}, 'json');
							
							  },
							  btn2: function(index, layero){
							   layer.closeAll();
							  },
							cancel: function(layero,index){ 
							   layer.closeAll();
							  }

}); 


					}
				})

			});
		</script>
	</table>
</div>